/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Réglages body */
body {
  font-family: var(--font-oxygen);
  font-size: var(--body);
  line-height: 1.6;
  background-color: var(--impure-white);
  color: var(--impure-black);
  margin: 0;
  cursor: none;
}

p { font-size: 16px; margin: 0; font-weight: 300}
h1 {font-size: 5vw; color: var(--impure-black);}
h2 {font-size: 40px; color: var(--impure-black);}
h3 {font-size: 30px; color: var(--impure-black);}

/* Annuler la mise en forme des liens */
a {font-family: var(--font-oxygen); text-decoration: none; } 
  a:hover { opacity: 0.7; cursor: none; }

  a:not(img) {
    font-family: var(--font-oxygen);
    text-decoration: none;
  }
  
  a:not(img):hover {
    opacity: 0.7;
    cursor: none;
  }

ul {list-style: none; font-family: var(--font-oxygen); color: var(--impure-black);}
li { color: var(--impure-black);}

/* Permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: none;
  text-decoration: none;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
/* Classe générique permettant de définir les marges sur les cotés */
.container {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}

.boldface {
  font-weight: 700;  /* Mots gras */
}

/* Page projets */
#filter {
  margin-top: 2%;
}

.filter-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--gray-2);
  border: none;
  border-radius: 5px;
}

@media (max-width: 464px) {
  .filter-button {
    padding: 10px 14px;
    margin: 0 5px;
    background-color: var(--gray-2);
    border: none;
    border-radius: 5px;
  }
}

/* Page à propos */
.about__description {
  margin-bottom: 30%;
}

.about__anectodes {
  margin-top: 30%;
}

.about__number {
  display: flex;
  gap: var(--space3x);
  align-items: center;
}

.about__contact {
  margin-top: 30%;
  margin-bottom: 30%;
}

.number {
  color: var(--gray);
}

/* Page conditions */
.juridique__title {
  margin-bottom: 10%;
  text-align: center;
  color: var(--impure-black);
}

.juridique__text {
  margin-top: 10%;
}












