---
layout: default
title: Home
lang: en
---

<div class="hero__home">
  <div class="section__grid__home">
    <div class="hero_up">
      <div class="hero_links">
        <a href="https://www.linkedin.com/in/marion-gillot-8133a7224/" target="_blank" class="hero_link">LinkedIn</a>
        <a href="https://www.behance.net/mariongillot" target="_blank" class="hero_link">Behance</a>
      </div>
      <h1 class="hero__home__title">Marion Gillot</h1>
      <p class="hero__details">MULTIMEDIA DESIGNER</p>
    </div>
  </div>

  <div>
    <img src="{{ 'assets/public/img/profil-home.jpg' | relative_url }}" class="profil__home" alt="image de profil de marion gillot">
  </div>

  <div class="hero__home__down">
    <div>
      <div class="arrow bounce">
        <div class="fa fa-arrow-down fa-2x"></div>
      </div>
      <p class="arrow__text">Scroll</p>
    </div>
  </div>
</div>

<div class="">
  <div class="container__works">
    <div class="grid__works">

      {% assign sorted_projects = site.projects | sort: "date" | reverse %}
      {% assign index = 0 %}
      {% for project in sorted_projects %}
        {% if page.lang != project.lang %}{% continue %}{% endif %}
        {% assign index = index | plus: 1 %}
        <div class="overlay-outer">
          <p class="content-index">{% if index < 10 %}0{{ index }}{% else %}{{ index }}{% endif %}</p>
          <a href="{{ project.url | relative_url }}">
            <img
              src="{{ project.cover[0].src | relative_url }}"
              class="image"
              alt="{{ project.cover[0].alt | escape }}"
              loading="lazy">
          </a>
          <div class="content-details">
            <p class="content-title">{{ project.name }}</p>
            <p class="content-date">{{ project.date | date: "%Y" }}</p>
            <img class="content-arrow" src="{{ 'assets/public/icon/icon_arrow-after.svg' | relative_url }}" alt="" aria-hidden="true" loading="lazy">
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

<div class="section__center">
  <a class="all-projects-button" href="{{ 'projects-en.html' | relative_url }}">See all projects</a>
</div>