<footer class="footer">

  <div class="wrapper">
  <div class="footer-container">
    <div class="footer__mail">
      <h4>marion.gillot29@gmail.com</h4>
    </div>
    <div id="w-node-_20e735d8-d215-c43d-1c36-454748e0603e-48e06036" class="footer-links">
      <a href="/" aria-current="page" class="footer-link w--current">Marion Gillot</a>
      <a href="/other-pages/projects" class="footer-link"> </a>
      <a href="/other-pages/about" class="footer-link">About</a>
      <a href="/other-pages/contacts" class="footer-link">Contact</a>
      <a href="/other-pages/resume" class="footer-link">Resume</a>
      <a href="/other-pages/resume" class="footer-link"> </a>
    </div>
  </div>







</footer>

<script type="module">
  // Récupération langue de la page
  const pageLanguage = location.pathname.includes('-en') ? 'english' : 'french';

  function updateFooterLinksAndLabels() {
    // Mise à jour de "Me suivre"
    const footerTitle = document.getElementById('footer__title');
    if (footerTitle) {
      footerTitle.textContent = pageLanguage === 'english' ? 'Follow me' : 'Me suivre';
    }

    // Mise à jour de "Tous droits réservés."
    const footerLicense = document.getElementById('footer__license');
    if (footerLicense) {
      footerLicense.textContent = pageLanguage === 'english'
        ? '©mariongillot | All rights reserved.'
        : '©mariongillot | Tous droits réservés.';
    }

    // Mise à jour du lien vers les conditions
    const conditionsLink = document.getElementById('footer__license__link');
    if (conditionsLink) {
      let href = conditionsLink.getAttribute('href');
      // Retrait de -en si présent
      href = href.replace('-en', '');
      if (pageLanguage === 'english') {
        // Ajout de -en si page en anglais
        href = href.replace('.html', '-en.html');
      }
      conditionsLink.setAttribute('href', href);
    }
  }

  updateFooterLinksAndLabels();
</script>