<footer class="footer">
  <h4><a href="mailto:mgillot.pro@gmail.com">mgillot.pro@gmail.com</a></h4>
  <div class="footer_links">
    <div class="left_footer">
      <a id="footer_home" href="{{ "index.html" | relative_url }}">Accueil</a>
    </div>
    <div class="center_footer">
      <a id="footer_projects" href="{{ "projects.html" | relative_url }}">Réalisations</a>
      <a id="footer_info" href="{{ "apropos.html" | relative_url }}">À propos</a>
      <a id="footer_contact" href="mailto:mgillot.pro@gmail.com">Contact</a>
    </div>
    <div class="right_footer">
      <a id="footer_license_link" href="conditions.html"><span id="footer_license_text">©2025 | Tous droits réservés.</span></a>
    </div>
  </div>
</footer>

<script type="module">
  // Récupération langue de la page
  const pageLanguage = location.pathname.includes('-en') ? 'english' : 'french';

  function updateFooterLinksAndLabels() {
    // Mise à jour des labels du footer

    // Mise à jour du lien vers "Accueil"
    const footerHome = document.getElementById('footer_home');
    if (footerHome) {
      // Mise à jour du label
      footerHome.textContent = pageLanguage === 'english' ? 'Home' : 'Accueil';
      // Mise à jour du lien
      let href = footerHome.getAttribute('href');
      href = href.replace('-en', '');
      if (pageLanguage === 'english') {
        href = href.replace('index.html', 'index-en.html');
      }
      footerHome.setAttribute('href', href);
    }

    // const footerContact = document.getElementById('footer_contact');
    // if (footerContact) {
    //   footerContact.textContent = pageLanguage === 'english' ? 'Contact' : 'Contact';
    // }

    // Mise à jour du label de "Tous droits réservés."
    const footerLicenseText = document.getElementById('footer_license_text');
    if (footerLicenseText) {
      footerLicenseText.textContent = pageLanguage === 'english'
        ? '©2025 | All rights reserved.'
        : '©2025 | Tous droits réservés.';
    }

    // Mise à jour du lien de "Tous droits réservés."
    const footerLicenseLink = document.getElementById('footer_license_link');
    if (footerLicenseLink) {
      let href = footerLicenseLink.getAttribute('href');
      // Retrait de -en si présent
      href = href.replace('-en', '');
      if (pageLanguage === 'english') {
        // Ajout de -en si page en anglais
        href = href.replace('.html', '-en.html');
      }
      footerLicenseLink.setAttribute('href', href);
    }

    // Mise à jour du label et du lien vers "Réalisations"
    const footerProjects = document.getElementById('footer_projects');
    if (footerProjects) {
      // Mise à jour du label
      footerProjects.textContent = pageLanguage === 'english' ? 'Projects' : 'Réalisations';
      // Mise à jour du lien
      let href = footerProjects.getAttribute('href');
      href = href.replace('-en', '');
      if (pageLanguage === 'english') {
        href = href.replace('projects.html', 'projects-en.html');
      }
      footerProjects.setAttribute('href', href);
    }

    // Mise à jour du label et du lien vers "Info"
    const footerInfo = document.getElementById('footer_info');
    if (footerInfo) {
      // Mise à jour du label
      footerInfo.textContent = pageLanguage === 'english' ? 'About' : 'À propos';
      // Mise à jour du lien
      let href = footerInfo.getAttribute('href');
      href = href.replace('-en', '');
      if (pageLanguage === 'english') {
        href = href.replace('apropos.html', 'apropos-en.html');
      }
      footerInfo.setAttribute('href', href);
    }
  }

  updateFooterLinksAndLabels();
</script>