/* Cards page à propros */
.container__card {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container__card .card {
	position: relative;
	border-radius: 15px;
	border: 1px solid var(--impure-black);
	width: 300px;
	height: 375px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 24px 40px;
	text-align: center;
}

.container__card .card .content { display: contents; }

.container__card .card .card__img {
	position: relative;
    width: 40px;
    height: 40px;
	overflow: hidden;
}

.container__card .card .card__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container__card .card .card__title h3 {
	font-family: var(--font-sora);
	color: var(--impure-black);
	letter-spacing: 2px;
	font-weight: 800;
	font-size: 22px;
	text-align: center;
	margin: 20px 0 40px;
	line-height: 1.1em;
}

.container__card .card .content .card__title h3 span {
	font-size: 12px;
	font-weight: 300;
}

.container__card .card .card__images {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin: 0 0 40px;
}

/* Description text */
.container__card .card .card__text {
	margin: 0;
	opacity: 0.8;
}

.item {
	display: none;
  }
  
.show {
	display: block;
  }