<!DOCTYPE html>
<html lang="{{ page.lang }}" x-data="{ menuIsOpen: false }" :class="menuIsOpen && 'noscroll'">

<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Portfolio de Marion Gillot, étudiante en 2ème année en MMi Métier du Multimédia et de l'Internet" />
  <meta name="keywords" content="portfolio, design, webdesigner, graphist, web">

  <link rel="shortcut icon" href="{{ "assets/src/favicon.ico" | relative_url }}">
  <link rel="stylesheet" href="{{ "assets/src/css/style.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "assets/src/scss/main.css" | relative_url }}">
  <link src="{{ "assets/src/js/index.js" | relative_url }}">
  </link>

  <script defer="" src="https://unpkg.com/alpinejs@3.4.2/dist/cdn.min.js"></script>
</head>

<body x-data="{ atTop: true }">
  {% include header.html %}
  <main>
    <div id="progress"></div>
    {{ content }}
    {% include footer.html %}
  </main>
</body>

</html>

<script src="assets/scripts.js"></script>