/* Header mobile */
.mobile-header {
    top: 0;
    width: 100%;
    z-index: 2;
    padding: var(--space2x) 3%;
    justify-content: space-between;
    transition: all .3s ease-in-out;
  }

  .header__bar__mobile {
    display: flex;
    justify-content: inherit;
    margin-top: 3%;
  }
  
  .header__logo__mode {
    display: block;
    width: 75%;
    margin: 5%;
  }

  .right_header_mobile {
    display: flex;
    align-items: center;
    gap: 1em;
  }

header {
  a {
      color: var(--impure-black);
    }

  .lang-link.active {
    opacity: 0.7;
  }
}

/* Header desktop */
  .desktop-header {
    top: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.5%;
    padding-left: 3%;
    padding-right: 3%;

    .left_header {
      display: flex;
      align-items: baseline;
    }

    .center_header {
      display: flex;
      gap: 3rem;
      margin-left: 10rem;
    }
  }

/* Responsive du header */
.mobile-header {
  position: flex;
}

.desktop-header {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
  }
} 



