/* Header mobile */
.mobile-header {
    top: 0;
    width: 100%;
    z-index: 2;
    padding: var(--space2x) 3%;
    justify-content: space-between;
    transition: all .3s ease-in-out;
  }

  .header__bar__mobile {
    display: flex;
    justify-content: inherit;
    margin-top: 3%;
  }
  
  .header__logo__mode {
    display: block;
    width: 75%;
    margin: 5%;
  }

  .right_header_mobile {
    display: flex;
    align-items: center;
    gap: 1em;
  }

header {
  a {
    color: var(--impure-black);
  }
  .header_menu_link, .menu_link {
    display: inline-flex;
    align-items: center;
    gap: .4em;
  }
  .header_menu_link .nav-icon, .menu_link .nav-icon {
    flex: 0 0 auto;
    width: 0.7em;
    height: 0.75em;
    display: inline-block;
    transform: translateY(5%);
  }

  .menu_link .nav-icon {
    width: 0.5em;
    height: 0.55em;
  }
  
  .lang-link {
    font-family: var(--font-sora);
  }

  .lang-link.active {
    opacity: 0.7;
  }
}

#header_email {
  font-family: var(--font-sora);
}

/* Header desktop */
  .desktop-header {
    top: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.5%;
    padding-left: 3%;
    padding-right: 3%;

    .left_header {
      display: flex;
      align-items: baseline;
    }

    .center_header {
      display: flex;
      gap: 3rem;
      margin-left: 10rem;
    }
  }

/* Responsive du header */
.mobile-header {
  position: flex;
}

.desktop-header {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
  }
} 



